<header>
    <div class="ui menu black inverted segment">
        <div class="ui container">
            <a class="item">
                <i class="home icon"></i>
                Home
            </a>

            <%= link_to admin_tickets_path, class: 'item'  do %>
            <i class="ticket icon"></i>
            Tickets
            <% end %>

            <%= link_to admin_projects_path, class: 'item'  do %>
            <i class="folder icon"></i>
            Projetos
            <% end %>

            <%= link_to "<i class='user icon'></i> Criar Usuário".html_safe, new_user_registration_path, :class => 'item' %>

            <div class="right menu">
                <div class="ui item">
                    <small>Conectado como</small> &nbsp;
                    &lt;<%= current_user.email %>&gt;
                </div>

                <%= link_to "Editar Perfil", edit_user_registration_path, :class => 'ui item'  %>
                <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'ui item'  %>
            </div>
        </div>
    </div>
</header>