<div class="ui stackable three column grid">
  <div class="column five wide"></div>

  <div class="column six wide box">
    <h2>Cadastre-se</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ui form'}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres no minimo)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="center">
        <div class="actions">
          <%= f.submit "Cadastrar", class: 'ui button primary' %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>