<%= form_for([:admin, @project]) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="ui form">
      <div class="field">
        <label><%= f.label 'Nome' %></label>
        <%= f.text_field :name,class: 'ui input' %>
      </div>
      <div class="field">
        <label><%= f.label 'Descrição' %></label>
        <%= f.text_area :description, class: 'ui input' %>
      </div>
      <div class="field">
        <label><%= f.label 'Usuário Responsável' %></label>
        <%= f.collection_select :user_id, User.all, :id, :email %>
      </div>

    </div>
    <br>
    <div class="actions">
      <%= f.submit "#{f.object.new_record? ? "Criar" : "Editar"} Projeto",class: 'ui secondary button'  %>
    </div>
<% end %>
