<p id="notice"><%= notice %></p>
<div class="ui grid centered">
  <div class="forteen wide column">

    <div class="ui segment">
      <div class="content">
        <div class="header">
          <strong>Título:</strong>
          <%= @ticket.title %>
        </div>
        <br>
        <div class="description">
          <strong>Descrição:</strong>
          <br>
          <%= @ticket.description %>
        </div>
        <br>
        <% unless @ticket.project.blank? %>
          <div class="description">
            <strong>Projeto:</strong>
            <br>
            <%= @ticket.project.name %>
          </div>
        <% end %>
      </div>

      <div id="conversation-form">
        <%= render 'admin/conversations/form' %>
      </div>
      <div id="conversation-list">
        <%= render 'admin/conversations/show'%>
      </div>
    </div>

    <div class="ui compact menu">
      <%= link_to '<i class="arrow left icon"></i> voltar'.html_safe, admin_tickets_path, class: 'item' %>
      <%= link_to '<i class="write icon"></i> editar'.html_safe, edit_admin_ticket_path(@ticket), class: 'item' %>
    </div>
  </div>
</div>
