<p id="notice"><%= notice %></p>
<div class="ui grid centered">
  <div class="forteen wide column">

    <div class="ui segment">
      <div class="content">
        <div class="header">
          <strong>Título:</strong>
          <%= @ticket.title %>
        </div>
        <br>
        <div class="description">
          <strong>Descrição:</strong>
          <br>
          <%= @ticket.description %>
        </div>
        <br>
        <div class="description">
          <strong>Status:</strong>
          <br>
          <%= @ticket.status %>
        </div>
        <br>
        <% if @ticket.status == 'fechado' %>
          <div class="">
            <strong>Avaliação:</strong>
            <br>
            <% @ticket.rating.times do %>
              <i class="star icon"></i>
            <% end %>
            <% (5 - @ticket.rating).times do %>
              <i class="empty star icon grey"></i>
            <% end %>
            <br><br>
            <%if @ticket.comment.empty? %>
              <strong>Comentário sobre a Avaliação:</strong>
              <% @ticket.comment %>
            <% else %>
              <span>Não há comentário sobre a avaliação.</span>
            <% end %>
          </div>
        <% end %>
      </div>

      <div id="conversation-form">
        <%= render 'admin/conversations/form' %>
      </div>
      <div id="conversation-list">
        <%= render 'admin/conversations/show'%>
      </div>
    </div>

    <div class="ui compact menu">
      <%= link_to '<i class="arrow left icon"></i> voltar'.html_safe, admin_tickets_path, class: 'item' %>
      <%= link_to '<i class="write icon"></i> editar'.html_safe, edit_admin_ticket_path(@ticket), class: 'item' %>
    </div>
  </div>
</div>
