<p id="notice"><%= notice %></p>
<div class="ui grid centered">
  <div class="ten wide column">

    <div class="ui card">
      <div class="content">
        <div class="header">
          <strong>Título:</strong>
          <%= @ticket.title %>
        </div>
        <div class="description">
          <strong>Descrição:</strong>
          <br>
          <%= @ticket.description %>
        </div>
      </div>
      <!--<div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Approve</div>
          <div class="ui basic red button">Decline</div>
        </div>
      </div>-->
    </div>

    <div class="ui compact menu">
      <%= link_to '<i class="arrow left icon"></i> voltar'.html_safe, admin_tickets_path, class: 'item' %>
      <%= link_to '<i class="write icon"></i> editar'.html_safe, edit_admin_ticket_path(@ticket), class: 'item' %>
    </div>
  </div>
</div>
