<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<header>
    <div class="ui menu black inverted segment">
        <div class="ui container">
            <a class="item">
                <i class="home icon"></i>
                Home
            </a>
            <a class="item">
                <i class="ticket icon"></i>
                Tickets
            </a>
            <a class="item">
                <i class="folder icon"></i>
                Projetos
            </a>

            <%= link_to "<i class='user icon'></i> Criar Usuário".html_safe, new_user_registration_path, :class => 'item' %>

            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon">
                        </i>
                    </div>
                </div>
                <a class="ui item">
                    Logout
                </a>
            </div>
        </div>
    </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<main>
    <div class="ui container">
        <%= yield %>
    </div>
</main>

<footer class="ui inverted vertical footer segment black">
    <div class="ui three column doubling stackable grid container">
        <div class="column">
            <img src="../../assets/logo.png" alt="" />
        </div>
        <div class="column"></div>
        <div class="column">
            <p>Copyright © 2016 TEW</p>
        </div>
    </div>
</footer>
</body>
</html>
