<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>

    <% if user_signed_in? %>
        <%= render file: 'layouts/menus/admin' %>
    <% else %>
        <%= render file: 'layouts/menus/visitor' %>
    <% end %>

    <%= render file: 'layouts/flashes/devise' %>

    <main>
        <div class="ui container">
            <%= yield %>
        </div>
    </main>

    <footer class="ui inverted vertical footer segment black">
        <div class="ui three column doubling stackable grid container">
            <div class="column">
                <img src="../../assets/logo.png" alt="" />
            </div>
            <div class="column"></div>
            <div class="column">
                <p>Copyright © 2016 TEW</p>
            </div>
        </div>
    </footer>
</body>
</html>
